<h1>Your order summary</h1>

{{> addons noDeleteBtn=true}}
<a href="/order/thanks" class="btn btn-big"><img class="cart-img" src="/assets/images/shopping-cart.png" />  Finish your order</a>

{{> cookie-preview}}
{{> go-back}}